# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.venv/
.env/
.envrc
#.Identifier
# OS/editor
.DS_Store
.vscode/
.idea/
#272Zone.Identifier"
.Identifier
*Zone.Identifier

# Build/dist
build/
dist/

# Project artifacts (keep code-only rule)
output/
__pycache__/
/output
